.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -1000;
}

.logo_place_header{
  position:absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
  height: 32px;
  width: 228px;
}

.header__title{
  position:absolute;
  font-size:102px;
  font-weight:600px;
  height: 96px;
  width: 730px;
  z-index: 10;
  left:64px
}

.header__subtitle{
  position: absolute;
  height: 25px;
  font-size:18px;
  font-weight: normal;
  left:64px;
  bottom: 30px;
  width: 388px;

}


.header_main-illustration{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width:765px;
  height: 608px;

}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top:64px;
  right:0;
  z-index:-10
}

.description{
  margin-top:100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.two-columns{
  display: flex;
  flex-direction: row;
  margin:auto;
  justify-content: space-between;
  width: 80%;


}

.two-columns__brief{
  width:175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;

}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}


.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin:auto

}

.digits{
  margin-top:100px;
}

.section-title{
  margin:auto;
  width:60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight:600;
  margin-bottom: 20px;
}

.section-subtitle{
  margin: auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 60px;
}

.table{
  width: 1100px;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px 30px;
  margin-bottom: 100px;
}

.table__cell{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap:20px;
  text-align: left;

}

.table__heading{
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text{
  margin:0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 900px;
  position: relative;
  background-color: #f2f2f2;
  z-index: -150;
  margin-bottom: 0;
}

.feynman__image{
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left:0;
  max-height: 90%;
  z-index: -50;

}

.feynman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 70px;
  z-index: 33;
}

.feynman__subtitle{
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
}

.feynman__link{
  position: absolute;
  top:50%;
  right:48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.kaufman{
  display: flex;
  margin-top: 0;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding-top: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: -100;
}

.section-title_theme_dark{
  color:white;
  width:60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight:600;
  margin-bottom: 20px;
}

.section-subtitle_theme_dark{
  color:white;
  margin: auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark{
  width: auto;
  margin:80px auto auto auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:80px 15px;
  max-width: 84%;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  text-align: left;
  gap:20px;
}

.table__heading_theme_dark{
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark{
  margin:0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  position: absolute;
  border-left: 438.5px solid transparent;
  border-right: 438.5px solid transparent; 
  border-bottom: 580px solid #2f80ed; 
  left: 75%;
  top:0;
  transform: rotate(-13deg);
  margin-left: -120px;
  z-index: -39;
}

.footer{
  background-color: #1f1f1f;
  padding-top: 150px;
  padding-bottom: 40px;
  display: flex;
  min-height: 350px;
  justify-content: center;
  align-items: center;
}

.footer__columns{
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  min-height: 350px;
}

.footer__column_content_copyright{
  min-height:350px;
  flex-basis:711px;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
}

.logo_place_footer{
  width:228px;
  height:32px;
}

.footer__author{
  line-height: 25px;
  font-size: 18px;
  margin-bottom:18px;
  font-weight: normal;
  color:white;
}

.footer__column_content_info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 350px;
}

.footer__column-heading{
  margin-top:0;
  line-height: 30px;
  font-size:18px;
  font-weight: 600;
  color: white;
  margin-bottom:20px;
}

.footer__column-links{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
}

.footer__column-link{
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 350px;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
